name: Build e Push Docker Hub

on:
  push:
    tags:
      - 'v*' # O robô só trabalha se você criar uma tag começando com "v" (ex: v1.0.1)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build e Push
        uses: docker/build-push-action@v5
        with:
          push: true
          # Aqui você define o nome da imagem: usuario/nome-da-imagem
          tags: ${{ secrets.DOCKER_USERNAME }}/scanbr-test:v1.0.0.1